@font-face {
  font-family: "Memb-Font";
  src: url("./assets/fonts/IronstrikeSemiBold.otf");
}
html {
  font-family: Memb-Font;
  height: 100%;
  display: flex;
}

body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.body-content {
  flex: 1 0 auto;
}

.my-header {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10rem;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px;
  border-color: black;
  border-style: solid;
}
.my-footer {
  text-shadow: none;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.left-column {
  /* width: 55%; */
}

.input-number {
  width: 3rem;
}

.tech-header {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 0.5rem;
}
.tech-settings {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
}

.tech-civ-list {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.setting-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.action-buttons {
  display: inline-flex;
  width: 100%;
  justify-content: space-evenly;
}

.setting-button {
  border-radius: 1rem;
  color: white;
  padding: 2rem 16rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.admin-civ-icon {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.admin-civ-icon:hover {
  background-color: lightgreen;
}
.admin-civ-icon img {
  width: 5rem;
  height: 5rem;
}

.button-blue {
  background-color: #008cba;
}
.button-red {
  background-color: red;
}

.switch {
  display: inline-block;
  position: relative;
  height: 2.1rem;
  width: 4rem;
}

.switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 1rem;
}

.slider.round:before {
  border-radius: 50%;
}
